@import "tailwindcss";
@plugin "@tailwindcss/typography";
/*@import "tom-select/dist/css/tom-select.default.css";*/

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Source+Serif+Pro:wght@400;600;700&family=JetBrains+Mono:wght@400;600&display=swap");

/* Declare font tokens */
@theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    --font-serif: "Source Serif Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;         /* body (Medium-like) */
    --font-display: "Playfair Display", "Source Serif Pro", ui-serif, Georgia, serif;                       /* big titles */
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono","Courier New", monospace; /* code */
}

/* Medium-like prose tweaks */
.prose {
    @apply font-serif;
}
.prose h1, .prose h2, .prose h3, .prose h4 .prose h5 .prose h6{
    @apply font-display tracking-tight text-gray-900;
}
.prose p, .prose li {
    @apply leading-relaxed text-gray-800 text-justify;
}

/* Code styling */
.prose :not(pre)>code {
    @apply bg-gray-100 px-1 py-0.5 rounded text-sm font-mono;
}
.prose pre {
    @apply bg-gray-900 text-gray-100 rounded-xl p-4 overflow-x-auto shadow-md;
}
.prose pre code {
    @apply font-mono text-sm bg-transparent p-0;
}
article.prose pre code {
    color: inherit;
    background: none;
}

/* Lists */
.prose ul { @apply list-disc list-inside; }
.prose ol { @apply list-decimal list-inside; }

.pagy {
    @apply flex items-center space-x-1 text-sm font-medium;
}

.pagy a:not(.gap) {
    @apply inline-flex items-center rounded-md px-3 py-1.5 text-gray-700 bg-white ring-1 ring-inset ring-gray-300;
}

.pagy a:not(.gap):hover {
    @apply bg-indigo-50;
}

.pagy a.current {
    @apply z-10 text-white bg-indigo-600 ring-1 ring-inset ring-indigo-600;
}

.pagy a:not([href]) {
    @apply text-gray-400 bg-gray-50 cursor-not-allowed;
}

.pagy label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;
}
.pagy label input {
    @apply bg-gray-100 border-none rounded-md;
}
