<% content_for :title, @article.title %>

<div class="w-full max-w-3xl mx-auto my-12 px-4 ">
  <div class="flex items-center space-x-4 mb-6">
    <%= link_to "Edit article", edit_article_path(@article),
                class: "text-sm font-medium text-gray-600 hover:text-gray-900 transition-colors" %>

    <%= link_to "Back to articles", articles_path,
                class: "text-sm font-medium text-gray-600 hover:text-gray-900 transition-colors" %>

    <span class="text-gray-300">|</span>

    <%= button_to "Destroy", @article,
                  method: :delete,
                  class: "text-sm font-medium text-red-600 hover:text-red-800 transition-colors",
                  data: { turbo_confirm: "Are you sure?" } %>
  </div>
  <%= render @article %>


</div>