<div class="w-full max-w-3xl mx-auto my-12 px-4">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-8">
    Articles in: <%= @topic.slug %>
  </h1>

  <div id="articles" class="min-w-full space-y-10">
    <% if @articles.any? %>
      <%# Use the same partial as the index page to get the same look! %>
      <%= render partial: 'articles/article_card', collection: @articles, as: :article %>
    <% else %>
      <p class="text-center my-10">No articles found in this topic.</p>
    <% end %>
  </div>
  <div class="mt-8">
    <% if @pagy.present? && @pagy.pages > 1 %>
      <div class="flex flex-col sm:flex-row justify-between items-center gap-4">

        <div class="text-sm text-gray-700">
          <%== pagy_info(@pagy) %>
        </div>

        <div>
          <%# Make sure to use the pagy_tailwind_nav helper for Tailwind styles %>
          <%== pagy_nav(@pagy) %>
        </div>

      </div>
    <% end %>
  </div>
</div>