<h1>Great News, <%= @user.name %>!</h1>
<p>
  Your restoration request for the article, "<%= link_to @article.title, article_url(@article) %>", has been approved.
</p>
<p>
  The article is now public and visible to all users again.
</p>